{% extends 'resume/base.html' %} {% block title %}Services
{% endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Services</h1>
  <div class="row text-white text-center mb-5">
    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-code fa-2x mb-3 i-color"></i>
      <h3>Web Development</h3>
      <p class="p-color">Full Stack Web Developer as per your need. Develop any kind of website.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-palette fa-2x mb-3 i-color"></i>
      <h3>Web Design</h3>
      <p class="p-color">Design any site with latest technology features and responsive.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
      <h3>SEO</h3>
      <p class="p-color">SEO your website and blogs.</p>
    </div>
  </div>

  <div class="row text-white text-center mb-5">
    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fab fa-android fa-2x mb-3 i-color"></i>
      <h3>Android</h3>
      <p class="p-color">Develop any kind of android app with latest kernel support.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fab fa-apple fa-2x mb-3 i-color"></i>
      <h3>iOS</h3>
      <p class="p-color">Develop any kind of iOS app with latest iOS version support.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-robot fa-2x mb-3 i-color"></i>
      <h3>Artificial Intelligence</h3>
      <p class="p-color">Train your models and predictions. Build recommendation system and many more.</p>
    </div>
  </div>

  <div class="row text-white text-center mb-5">
    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-database fa-2x mb-3 i-color"></i>
      <h3>Database Designing</h3>
      <p class="p-color">Design ur database with ER-Diagram according to your requirements.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-globe-europe fa-2x mb-3 i-color"></i>
      <h3>Web Scrapping</h3>
      <p class="p-color">Scrap data for your analysis and website.</p>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <i class="fas fa-headset fa-2x mb-3 i-color"></i>
      <h3>Support</h3>
      <p class="p-color">24/7 support and satisfaction guarantee.</p>
    </div>
  </div>
</div>
{% endblock content %}